<div class="table-responsive">
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <% for key in bias_detector_presenter.table_keys do %>
          <th><%= key %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% bias_detector_presenter.table_values.each do |row| %>
        <tr>
          <% row.each do |cell| %>
            <td><%= cell %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>  
</div>
