---
http_interactions:
- request:
    method: get
    uri: https://api.tineye.com/rest/search/?api_key=LCkn,2K7osVwkX95K4Oy&api_sig=6a9bf9d3ae93ffac7a50deb268e706cc22dd6982156af4a10cfd7e5324e3502a&date=1522106178&image_url=http://example.com/image.png&limit=100&nonce=e0a0a304522f091c2c82ce3eee29d413&offset=0&order=desc&sort=score
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: ASCII-8BIT
      string: '{"stats": {"timestamp": "1522106179.03", "query_time": "0.45", "total_backlinks":
        31254, "total_collection": 97, "total_results": 8068, "total_stock": 4, "total_filtered_results":
        8068}, "code": 200, "messages": [], "results": {"matches": [{"domain": "reallycutecats.com",
        "backlinks": [{"url": "https://i0.wp.com/www.reallycutecats.com/wp-content/uploads/2012/01/catmelonhead.jpg",
        "crawl_date": "2018-02-13", "backlink": "https://www.reallycutecats.com/tag/melon/"},
        {"url": "https://i0.wp.com/www.reallycutecats.com/wp-content/uploads/2012/01/catmelonhead.jpg",
        "crawl_date": "2018-02-13", "backlink": "https://www.reallycutecats.com/tag/classic/"},
        {"url": "https://i0.wp.com/www.reallycutecats.com/wp-content/uploads/2012/01/catmelonhead.jpg",
        "crawl_date": "2017-11-13", "backlink": "http://www.reallycutecats.com/tag/helmet/"},
        {"url": "https://i0.wp.com/www.reallycutecats.c[...]
- request:
    method: get
    uri: https://api.tineye.com/rest/search/?api_key=itc=sLP-dfwLQeYmWQrf&api_sig=bf46e8dd3790984a687b2d1c794b8d22a23bd361c1c99e50d0079b6ccad4bf11&date=1522287560&image_url=http://example.com/image.png&limit=100&nonce=003e54e7e290136b0ae916eb1a8aa415&offset=0&order=desc&sort=score
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: ASCII-8BIT
      string: '{"stats": {"timestamp": "1522287560.68", "query_time": "0.11"}, "code":
        400, "messages": ["BAD_REQUEST", "Couldn''t download URL http://example.com/image.png:
        404 Client Error: Not Found for url: http://example.com/image.png"], "results":
        []}'
  recorded_at: Thu, 29 Mar 2018 01:39:20 GMT
[...]
- request:
    method: get
    uri: https://api.tineye.com/rest/search/?api_key=LCkn,2K7osVwkX95K4Oy&api_sig=e3e5c0d0c5d687f9dc35e9700e5dd7251e051ac9e8ba2ea029cd404c1b2f41c9&date=1528465733&image_url=http://example.com/image.png&limit=100&nonce=0b7a53da19b3804ef4fb261c3cbe597e&offset=0&order=desc&sort=score
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"results": {"matches": [{"image_url": "http://img.tineye.com/result/adc6801d9e5adeb1d1a37bf6d929c43e3674f37e253dd3828e69369c56af71d7",
        "size": 239481, "tags": [], "filesize": 39167, "overlay": "overlay/dca08fc6b2ec4b9e04f94a4e29223f6af3dd6555/adc6801d9e5adeb1d1a37bf6d929c43e3674f37e253dd3828e69369c56af71d7?m21=-4.63379e-05&m22=0.999952&m23=0.00784498&m11=0.999952&m13=0.00137027&m12=4.63379e-05",
        "score": 100.0, "domain": "zeelandnet.nl", "width": 531, "height": 451, "backlinks":
        [{"crawl_date": "2017-12-13", "url": "http://www.zeelandnet.nl/weblog/data/marijke/item_images/img_13212916673343.jpg",
        "backlink": "http://www.zeelandnet.nl/weblog/marijke/"}], "query_hash": "dca08fc6b2ec4b9e04f94a4e29223f6af3dd6555",
        "format": "JPEG"}, {"image_url": "http://img.tineye.com/result/ba97680a685da25e5910b8cb95d6e9680be1fab360a0daad8a8a537ab992948f",
        "size": 239481, "tags": [], "filesize": 239481, "overlay": "overlay/dca08fc6b2ec4b9e04f94a4e29223f6af3dd6555/ba97680a685da25e5910b8cb95d6e9680be1fab360a0daad8a8a537ab992948f?m21=-4.63379e-05&m22=0.999952&m23=0.00784498&m11=0.999952&m13=0.00137027&m12=4.63379e-05",
        "score": 100.0, "domain": "wonkette.com", "width": 531, "height": 451, "backlinks":
        [{"cra[...]
